<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CampusMinds Application</title>
</head>
<body>
	<div id="menu" style="margin:50px 0px 0px 0px">
	<h1 style="color:grey">Select from this menu</h1>
		<a href="tracks" style="width:100px; height:100px; background-color:#7FB7A0; color:white">Tracks WebSite</a> <br><br>
		<a href="minds" style="width:100px; height:100px; background-color:#7FB7A0; color:white">Minds WebSite</a><br> <br>
		<a href="leads" style="width:100px; height:100px; background-color:#7FB7A0; color:white">Leads WebSite</a> <br><br>
		<a href="reviews" style="width:100px; height:100px; background-color:#7FB7A0; color:white">Reviews WebSite</a> <br><br>
	</div>

</body>
</html>